<div class="row" id="welcome">
  <div id="login-logo">
    <%= image_tag 'carrat_logo_text.png', size: '300' %>
  </div>
  <div>
    <p id="login-text">Start winning big with your rewards by logging in or signing up with your credit card</p>
  </div>
  <div id="top-button">
    <button><h3>Sign Up</h3></button>
  </div>
  <div>
    <button><h3>Log In</h3></button>
  </div>
</div>