<div id="rewards-index" class="container">
	<% @rewards.each_slice(4) do |row_of_four| %>
		<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">
			<% row_of_four.each do |reward| %>
				<li>
					<img src="<%= reward.image_url %>">
					<div><%= reward.stripped_title %></div>
					<div><%= reward.carrats %> carrats</div>
				</li>
			<% end %>
		</ul>
	<% end %>
</div>