<hr/>
<div class="notification">
  <div id="check_box">
    <%= image_tag 'check_box.png', size: '20' %>
  </div>
  <div id="check">
    <h6><%= notification.content %></h6>
    <p><%= notification.notified_day %></p>
  </div>
</div>
