<div class="contain-to-grid sticky">
  <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large" id: "nav-logo">
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to image_tag("carrat_logo.png", size: '60'), :root %></h1>
      </li>
      <li class="has-form">
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </li>
    </ul>
  </nav>
</div>