<div class="row">
  <div class="row" id="user-summary">
    <div><%= image_tag 'george.jpg', size: '75', id:"user-avatar" %></div>
    <h3>Morgan Stanley</h3>
  </div>

  <div class="small-12 medium-9 large-8 columns">
    <div class="index-river" id="redeem">
      <h6>Redeem</h6>
      <div class="redeem-item" >
        <%= render partial: "rewards/reward_preview" %>
      </div>
    </div>

    <div class="index-river" id="challenges">
      <h6>Challenges</h6>
      <div id="challenges-list">
        <%= render @challenges %>
      </div>
    </div>
  </div>

  <div class="small-12 medium-3 large-4 columns">
    <div class="index-river side-nav" id="notifications">
      <h6>Notifications</h6>
    </div>
    <div class="index-river side-nav" id="preferred-brands">
      <h6>Preferred Brands</h6>
      <ul id="brands-list">
        <li></li>
      </ul>
    </div>
  </div>
</div>