<div class="row" id="user-summary">
  <h3>Morgan Stanley</h3>
</div>

<div class="row" id="redeem">
  <h6>Redeem</h6>
</div>

<div class="row" id="challenges">
  <h6>Challenges</h6>
</div>

<div class="row" id="trusted-brands">
  <h6>Trusted Brands</h6>
</div>