<div class="row" id="user-summary">
  <div class="large-3 columns">
    <h3>Morgan Stanley</h3>
  </div>
</div>

<div class="large-9 columns">
<div class="row index-river" id="redeem">
  <h6>Redeem</h6>
</div>

<div class="row index-river" id="challenges">
  <h6>Challenges</h6>
</div>

<div class="row index-river" id="trusted-brands">
  <h6>Trusted Brands</h6>
</div>
</div>