<div class="row">
  <div class="row" id="user-summary">
    <%= render partial: "users/user_show", locals: {user: @current_user} %>
  </div>

  <div class="small-12 medium-9 large-8 columns">
    <div class="index-river" id="redeem">
      <h6 id="redeem-title">REDEEM</h6>
      <div class="redeem-item" >
        <%= render partial: "rewards/reward_preview" %>
      </div>
    </div>

    <div class="index-river" id="challenges">
      <h6 id="challenges-title">Challenges</h6>
      <div id="challenges-list">
        <%= render @challenges %>
      </div>
    </div>
  </div>

  <div class="small-12 medium-3 large-4 columns">
    <div class="index-river side-nav" id="notifications">
      <h6>Notifications</h6>
        <%= render partial: "users/notification", collection: @notifications %>
    </div>
    <div class="index-river side-nav" id="preferred-brands">
      <h6>Preferred Brands</h6>
      <ul id="brands-list">
      </ul>
    </div>
  </div>
</div>