<div class="challenge-item">


  <%= image_tag(challenge.vendor.logo) %>

    <div class="description">
      <h4><%= challenge.vendor.name %></h4>
      <p id="challenge-desc"><%= challenge.description %></p>
    </div>

    <div class="clock" id=<%="countdown-clock-#{challenge.id}"%>></div>


</div>
<hr/>