#rewards-index {
	padding-top: 50px;
	width: 95%;
	margin: 0 auto;

	#reward-title {
		font-weight: 700;

	}

	.reward-box {
/*		border: 1px solid gray;
		height: 200px;
		margin: 5px;
		width: 150px;*/
		position: relative;
		img{
		border-radius: 2px;
		box-shadow: 0px 2px 9px 1px rgba(33,33,33,0.5);
		margin:10px;
		}
	}

	#myModal {
		position: absolute;
		bottom: 0;
	}
}

#button-text{
		color:#fbae37;
		box-shadow: 0px 2px 9px 1px rgba(33,33,33,0.5);
}

.reward-title{
	color: #727373;
	text-align: center;
}

.reward-carrats{
	color: #727373;
	text-align:center;
	}

	h3{
		color: #727373;
	}

#rewards-index-title{
	background-color: #ffffff;
	text-align:center;
	margin: 27px;
	padding: 20px;
	border-radius: 2px;
	box-shadow: 0px 2px 9px 1px rgba(33,33,33,0.5);
}

#button-span{
	margin:10px;
}