#rewards-index {
	padding-top: 50px;
	width: 95%;
	margin: 0 auto;

	#reward-title {
		font-weight: 700;
	}

	.reward-box {
/*		border: 1px solid gray;
		height: 200px;
		margin: 5px;
		width: 150px;*/
		position: relative;
	}

	#myModal {
		position: absolute;
		bottom: 0;
	}
}