#redeem {

p {
  color: #ffffff
}

h6{
  color:#ffffff;
}
.thumbnail {
  position: relative;
  width: 10em;
  height: 10em;
  overflow: hidden;
}
.thumbnail img {
  position: absolute;
  border-style: solid;
  border-color:#ffffff;
  border-radius: 100%;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}



}