#redeem {

#redeem-title{
    font-family: "fira-sans-2";
    color: #ffffff;
    text-align:center;

}

p {
  color: #ffffff;
  font-family: "fira-mono",sans-serif;
  text-align: center;
}

h6{
  color:#ffffff;
  font-family: "fira-sans-2",sans-serif;
}

.transparent{
  opacity: 0;
}

.th-small-item{
    border-radius:100%;
    height: 7em;
    width: 7em;
    overflow: hidden;
    background-position: center;
}

.th-medium-item{
    border-radius:100%;
    height: 8em;
    width: 8em;
    overflow: hidden;
    background-position: center;
}

.th-item{
    border-radius:100%;
    height:11em;
    width: 11em;
    overflow: hidden;
    background-position: center;
}
}

#rewards-link{
  font-family: "fira-sans-2";
  color: #ffffff;

}