.challenge-item {
  color:#000000;
  padding: 5%;

    img {
      float: left;
      width: 20%;
      margin-right: 10px;
    }
    .description {
      float: right;
      width: 70%;
      margin-bottom: 10px;

      h4 {
        color: #000000;
      }
    }
    .clock {
      width: 75%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 15%;
      clear: both;
      padding-left: 18%;
    }
    h4{
    font-family: "fira-mono",sans-serif;

    }

}

#challenges-title{

    font-family: "fira-sans-2";
    color: #000000;
    text-align:center;

}