#user-summary {
  margin-bottom:5px;
  margin-top:30px;
  padding: 10px;
  margin-left: 15px;
  margin-right: 15px;
  padding-top:20px;
  background-color:#8bc249;
  h3,
  h5 {
    padding-top: 10px;
    color: #ffffff;
  }
  .user-points {
    background-color: #fbae37;
    padding-left: 4%;
    border-radius: 5px;
    h3{
      color: white;
    }
  }

  #user-avatar{
    border-radius: 100%;
    border-style: solid;
    border-color: #ffffff;
    float: left;
  }
}