#user-summary {
  border-style: solid;
  border-color: #ffffff;
  border-radius: 2px;
  padding: 10px;
  margin: 15px;
  background-color: white;
  h3,
  h5 {
    color: #727373;
    // float: left;
    // padding-left: 20px;
    // padding-top: 15px;
  }

  #user-avatar{
    border-radius: 100%;
    border-style: solid;
    border-color: #ffffff;
    float: left;
  }
}