#notify-trigger{
  h3{
    font-family: "fira-sans-2";
    color: #ffffff;
    text-align: center;
  }
}
.notification {
  h6 {
    font-size: 12pt;
    text-align: left;
  }
  p {
    font-size: 10pt;
    color: gray;
  }
}

