.challenge-item {
  padding: 5%;
  color:#ffffff;


    img {
      float: left;
      width: 20%;
      margin-right: 10px;
    }
    .description {
      float: right;
      width: 70%;
      margin-bottom: 10px;

      h4 {
        color: #ffffff;
      }
    }
    .clock {
      width: 75%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 15%;
      clear: both;
    }
  
}