#notify-trigger{
    color: #000000;
  h3{
    font-family: "fira-sans-2";
    color: #000000;
    text-align: center;
  }
}
.notification {
  h6 {
  float:left;
    font-size: 12pt;
    text-align: left;
    color:black;
  }
  p {
  float:left;
    font-size: 10pt;
    color: gray;
  }
  img{
  float:left;
  vertical-align:middle;
  }

}
h2#modalTitle {
  color: black;
}
#modal-description {
  p,
  h4 {
  color: black;
  }
}

.index-river{
  padding-bottom:7em;
}