#user-summary {
  border-style: solid;
  border-color: #ffffff;
  border-radius: 2px;
  padding:.5em;
  margin:1em;
  background-color: white;
  h3{
    float:left;
    color: #727373;
    margin-left:.5em;
  }

  #user-avatar{
    border-radius: 100%;
    border-style: solid;
    border-color: #ffffff;
    float: left;
  }
}