<h6>MOST VALUABLE CUSTOMER</h6>
  <p>
    Starbucks, Target, and Shell would like thank you for your continued loyalty
  </p>
<ul class ="large-block-grid-3" >
<li><%= image_tag 'starbucks_logo.png', size: '70' %></li>
<li><%= image_tag 'target_logo.png', size: '70' %></li>
<li><%= image_tag 'shell_logo.png', size: '70'%></li>
</ul>